* {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: lightgoldenrodyellow;
}

h1 {
    text-align: center;
    color: tomato;
}

img {
    margin: auto;
    display: block;
}

a {
    color: tomato;
}

a:hover{
    color: gray;
}

.paginas {
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    color: tomato;
}